.hm-header-buttons {
  width: 25%;
  display: flex;
  flex-direction: row;
}

.hm-header-button {
  width: 50%;
  padding-inline: 3vw;
  margin-left: 1vw;


  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  background-color: black;
  color: white;

  transition: ease-in-out 0.3s
}

.hm-header-button:hover {
  cursor: pointer;

  background-color: #5271ff;
  color: white;
}


.hm-body {
  margin-top: 2vh;
  width: 100%;
  padding: 2vh;

  height: auto;
  border: solid;

  display: grid;
  grid-template-columns: 10vw 17vw 10vw 15vw;
  /* grid-auto-rows: 24px; */
}

.hm-details {
  width: auto;
  height: 45vh;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: 50% auto;
}

.hm-body-causes {
  margin-top: 2vh;
  width: auto;
  padding: 2vh;

  height: auto;
  border: solid;

  display: grid;
  grid-template-columns: 40% 47% auto;
  /* grid-auto-rows: 24px; */
}

.hm-body-prop {
  height: auto;
  width: auto;
  padding-block: 0.3vh;
}

.hm-body-prop-bc{

}

.hm-csf {
  margin-top: 2vh;
  width: auto;
  padding: 2vh;

  /* height: auto; */
  /* border: solid; */

  display: grid;
  grid-template-columns: 60% auto;
}