.title-bar-container{
  flex-flow: row nowrap;
  place-content: center center;
  align-items: center;

  display: flex;

  width: 100%;
  height: auto;

  background-color: rgba(0, 0, 0, 1.00);

  > * {
    flex-flow: row nowrap;
    place-content: center start;
    align-items: center;
  
    display: flex;
  }

  > :nth-child(1) {
    flex-grow: 1;
    height: 100%;
    box-sizing: border-box;
    padding: 12px;

    pointer-events: none;
        
    > * {
      height: auto;
  
      font: normal 600 18px "Outfit", sans-serif;
      color: rgba(255, 255, 255, 1.00);
    }
  }

  > :nth-child(2) {
    box-sizing: border-box;
    padding: 12px;
    gap: 12px;

    img {
      width: 24px;
      height: 24px;   
    }
  }
}