.title-bar-container{
  display: flex;
  flex-flow: row nowrap;
  place-items: center center;
  place-content: center center;

  width: 100%;
  height: auto;

  background-color: rgba(50, 50, 50, 1.00);

  /* Header Container */
  > :nth-child(1) {
    display: flex;
    flex-flow: row nowrap;
    place-items: center center;
    place-content: center center;

    flex: 1 1 auto;

    width: 100%;
    height: 100%;

    box-sizing: border-box;
    padding: 12px;
    
    /* Logos */
    > :nth-child(1), > :nth-child(2) {
      box-sizing: border-box;
      padding: 8px;

      img {
        width: 48px;
        height: 48px;   
      }
    }

    
    /* Title */
    > :nth-child(3) {
      display: flex;
      flex-flow: row nowrap;
      place-content: center start;
      place-items: center center;

      width: 100%;
      height: 100%;

      box-sizing: border-box;
      padding: 12px;

      font: normal 600 24px "Outfit", sans-serif;
      color: rgba(255, 255, 255, 1.00);

      pointer-events: none;
    }
  }

  /* Filter Menu Container */
  > :nth-child(2) {
    flex: auto 1 auto;

    width: auto;
    height: 100%;
  }
}