#inventory-of-road-slope-structures-container {
  display: flex;
  flex-flow: column nowrap;
  place-items: center center;
  place-content: start start;

  overflow: hidden hidden;

  width: 360px;
  height: 100%;

  /* Header */
  > :nth-child(1) {
    display: flex;
    flex-flow: column nowrap;
    place-items: center center;
    place-content: center center;

    width: 100%;
    height: auto;

    > :nth-child(1) {
      width: 100%;
      height: auto;

      box-sizing: border-box;
      padding: 12px;
  
      background-color: rgba(50, 50, 50, 1.00);
  
      font: normal 400 18px "Outfit", sans-serif;
      text-transform: uppercase;
      color: rgba(255, 255, 255, 1.00);
    }

    > :nth-child(2) {
      display: flex;
      flex-flow: row nowrap;
      place-items: center center;
      place-content: center center;

      width: 100%;
      height: auto;

      box-sizing: border-box;
      padding: 12px;
  
      background-color: rgba(100, 100, 100, 1.00);
  
      font: normal 400 24px "Outfit", sans-serif;
      color: rgba(255, 255, 255, 1.00);

      > * {
        width: 50%;
        height: auto;
      }
    }
  }

  /* Road Inventory List */
  > :nth-child(2) {
    overflow: hidden auto;

    flex: 1 1 auto;

    width: 100%;
    height: 100%;

    box-sizing: border-box;
    
    font: normal 400 18px "Outfit", sans-serif;
    color: rgba(0, 0, 0, 1.00);

    > * {
      display: flex;
      flex-flow: row nowrap;
      place-items: stretch center;
      place-content: center center;

      width: 100%;
      height: auto;

      box-sizing: border-box;
      outline: 1px solid rgba(255, 255, 255, 1.00);

      cursor: pointer;

      > :nth-child(1) {
        flex: auto 1 auto;
        
        box-sizing: border-box;
        padding: 0;

        &.Primary {
          border: 4px solid rgba(255, 255, 0, 1.00);
        }

        &.Secondary {
          border: 4px solid rgba(255, 0, 0, 1.00);
        }

        &.Tertiary {
          border: 4px solid rgba(0, 0, 255, 1.00);
        }
      }

      > :nth-child(2) {        
        flex: 1 1 auto;
        
        box-sizing: border-box;
        padding: 12px;

        background-color: rgba(75, 75, 75, 1.00);

        color: rgba(255, 255, 255, 1.00);
      }

      > :nth-child(3) {        
        flex: auto 1 auto; 

        width: calc((100% * 3 / 5));
        height: auto;
                
        box-sizing: border-box;
        padding: 12px;

        background-color: rgba(100, 100, 100, 1.00);

        color: rgba(255, 255, 255, 1.00);
      }

      &:hover {
        > * {
          background-color: rgba(225, 125, 25, 1.00);

          color: rgba(255, 255, 255, 1.00);
        }

        > :nth-child(2) {
          border-right: 1px solid rgba(225, 125, 25, 1.00);
        }
      }

      &.loading {
        display: flex;
        flex-flow: row nowrap;
        place-items: start start;
        place-content: start start;
  
        width: 100%;
        height: 100%;
  
        box-sizing: border-box;
        border-bottom: 1px solid rgba(225, 225, 225, 1.00);
        padding: 12px;
      }
    }
  }
}