#login-container {
  flex-flow: column nowrap;
  place-content: center center;

  display: flex;

  width: 100%;
  height: 100%;

  > :nth-child(1) {
    flex-flow: column nowrap;
    place-content: center start;
  
    display: flex;

    width: 100%;
    flex-grow: 1;

    > :nth-child(1) {
      flex-flow: column nowrap;
      place-content: center center;
    
      display: flex;

      height: 50%;
      box-sizing: border-box;
      padding: 24px;

      > :nth-child(1) {
        flex-flow: row nowrap;
        place-content: center end;
      
        display: flex;

        width: 100%;
        height: 50%;
        box-sizing: border-box;
        padding: 0 0 120px 0;

        img {
          margin: 0 0 0 12px;
          width: 64px;
          height: 64px;
        }
      }

      > :nth-child(2) {
        flex-flow: row nowrap;
        place-content: center center;

        animation: fade-in 1.0s cubic-bezier(0.25, 0.1, 0.25, 1) 0.0s;

        width: 100%;
        height: 50%;

        font: normal 800 64px "Outfit", sans-serif;
        text-align: center;
      }

      @media screen and (orientation: portrait) {
        > :nth-child(2) {
          font: normal 800 36px "Outfit", sans-serif;
        }
      }
    }

    > :nth-child(2) {
      margin: 24px 0 0 0;
    }

    > :nth-child(2), > :nth-child(3) {
      flex-flow: row nowrap;
      place-content: center center;
    
      display: flex;

      box-sizing: border-box;
      padding: 12px 24px;
      
      label {
        width: 120px;
        box-sizing: border-box;
        padding: calc(12px + 2px);

        font: normal 600 16px "Outfit", sans-serif;
      }

      input {
        width: 360px;
        box-sizing: border-box;
        padding: 12px;

        font: normal 400 16px "Outfit", sans-serif;
      }
    }

    > :nth-child(4) {
      flex-flow: row nowrap;
      place-content: center center;
    
      display: flex;

      box-sizing: border-box;
      padding: 12px;

      > span {
        transition: 0.5s cubic-bezier(0.25, 0.1, 0.25, 1) 0.0s;

        width: 240px;
        height: auto;
        box-sizing: border-box;
        padding: 12px;

        background-color: rgba(0, 0, 0, 1.00);
        cursor: pointer;

        text-align: center;
        color: rgba(255, 255, 255, 1.00);

        &:hover {
          background-color: rgba(242, 125, 48, 1.00);
        }
      }
    }
  }

  > :nth-child(2) {
    > :nth-child(1) {
      flex-flow: row wrap;
      place-content: center start;
  
      display: flex;

      box-sizing: border-box;
      padding: 12px 24px 24px 24px;

      background-color: rgba(0, 0, 0, 1.00);

      color: rgba(255, 255, 255, 1.00);

      > :nth-child(1) {
        margin: 12px 0 0 0;
        flex-grow: 1;
        height: auto;

        > :nth-child(odd) {
          > a {
            text-decoration: none;
            color: rgba(255, 255, 255, 1.00);

            &:hover {
              color: rgba(242, 125, 48, 1.00);
            }
          }
        }

        > :nth-child(even) {
          margin: 0 12px;
        }
      }

      > :nth-child(2) {
        margin: 12px 0 0 0;
        width: auto;
        height: auto;
      }
    }

    > :nth-child(2) {
      box-sizing: border-box;
      padding: 4px;

      background-color: rgba(242, 125, 48, 1.00);
    }
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translate(0px, -24px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

/* Note: Ongoing development for responsive layout. */