#filter-menu-container {
  flex-flow: column nowrap;
  place-content: center center;

  display: flex;

  font: normal 400 12px "Outfit", sans-serif;
  color: rgba(75, 75, 75, 1.00);

  > :nth-child(1) {
    border-bottom: 12px solid rgba(225, 125, 25, 1.00);
    box-sizing: border-box;
    padding: 12px;

    background-color: rgba(0, 0, 0, 1.00);

    text-transform: uppercase;
    color: rgba(255, 255, 255, 1.00);
  }
  
  > :nth-child(2) {
    flex-flow: column nowrap;
    place-content: center center;
  
    display: flex;
    
    gap: 1px;

    > * {
      flex-flow: row nowrap;
      place-content: center center;
    
      display: flex;
  
      box-sizing: border-box;
      outline: 1px solid rgba(225, 225, 225, 1.00);
  
      > :nth-child(1) {
        width: 50%;
        box-sizing: border-box;
        padding: 12px;
  
        background-color: rgba(255, 255, 255, 1.00);
      }
  
      > :nth-child(2) {
        width: 50%;
  
        cursor: pointer;
  
        > :nth-child(1) {
          overflow: clip;
          white-space: nowrap;
    
          height: auto;
          box-sizing: border-box;
          border: 12px solid rgba(0, 0, 0, 0.00);
    
          background-color: rgba(240, 240, 240, 1.00);
    
          text-overflow: ellipsis;
        }
  
        > :nth-child(2) {
          position: absolute;
          z-index: 100;
    
          display: none;
    
          overflow-y: auto;
    
          border-top: 1px solid rgba(240, 240, 240, 1.00);
          width: 180px;
          max-height: 240px;
          box-sizing: border-box;
    
          background-color: rgba(240, 240, 240, 1.00);
    
          > * {
            flex-flow: row nowrap;
            place-content: center start;
            align-items: center;
          
            display: flex;
  
            min-height: 40px;
            box-sizing: border-box;
            padding: 12px;
  
            &:hover {
              background-color: rgba(225, 125, 25, 1.00);
  
              color: rgba(255, 255, 255, 1.00)
            }
          }
        }
  
        &.active {
          > :nth-child(2) {
            display: block;
          }
        }
      }
    }
  }
}

