.md-container {
  display: grid;
  padding-top: 1%;
  padding-left: 1%;
  gap: 2%;
  grid-template-columns: 18.4% 18.4% 18.4% 18.4% 18.4%;
  grid-template-rows: 30% 30% 40%;

  height: 100%;
    
}

.md-description {
  display: flex;
  flex-direction: column;
  /* width: 66%; */
  grid-column-end: span 3;
}

.md-description-title {
  
}

.md-description-title{
  display: flex;
  flex-direction: row;
  padding: 2vw;

  align-items: center;
  justify-content: center;

  background-color: black;
  color: white;
}

.md-description-desc {
  display: flex;
  /* width: 100%; */

  text-align: justify;
  text-indent: 5%;

  padding-inline: 2%;
  margin-top: 2%;
}

.md-roadsections{
  grid-column-end: span 2;
  grid-row-end: span 2
}

