
#module-bar-container {
  display: flex;
  flex-flow: column nowrap;
  place-items: start center;
  place-content: center stretch;

  width: 100%;
  height: auto;

  box-sizing: border-box;
  border: var(--border-100, 2px) solid var(--color-black, rgba(0, 0, 0, 1.00));

  background-color: var(--color-gray-100, rgba(100, 100, 100, 1.00));

  > * {
    display: flex;
    flex-flow: row nowrap;
    place-items: center center;
    place-content: center start;
  
    width: 100%;
    height: auto;
  
    box-sizing: border-box;
    padding: var(--space-100, 8px);
    gap: var(--space-100, 8px);
  
    /* Module Buttons */
    > * {
      display: flex;
      flex-flow: row nowrap;
      place-items: center center;
      place-content: center center;

      width: auto;
      height: 100%;

      box-sizing: border-box;
      border-radius: calc(var(--space-100, 8px) / 2);
      outline: var(--border-100, 2px) solid var(--color-black, rgba(0, 0, 0, 1.00));
      padding: var(--space-100, 8px) calc(var(--space-100, 8px) * 2);

      background-color: var(--color-white, rgba(255, 255, 255, 1.00));
      cursor: pointer;

      font: var(--type-normal-s16, normal 400 16px/1.25 "Outfit", sans-serif);
      color: var(--color-black, rgba(0, 0, 0, 1.00));

      &:hover {    
        background-color: var(--color-orange, rgba(225, 125, 25, 1.00));

        color: var(--color-white, rgba(255, 255, 255, 1.00));
      }

      &.selected {
        background-color: var(--color-orange, rgba(225, 125, 25, 1.00));

        color: var(--color-white, rgba(255, 255, 255, 1.00));
      }
    }

    /* Exit Button */
    > :last-child {
      box-sizing: border-box;
      margin-left: auto;
      gap: var(--space-100, 8px);

      > :last-child {
        font-size: calc((var(--space-100, 8px) * 2) - 1px);
      }
    }
  }
}