/* This file serves as the library for local styles and styling at the application level. */



/* Declaration of generic styling values. */

/*
.section {
  --var-name: value;
}

.use-case {
  attribute: var(--var-name);
}
*/

#root {
  --default-red: rgba(255, 49, 49, 1);
  --default-blue: rgba(0, 74, 173, 1);

  --seeds-red: rgba(255, 145, 77, 1);
  --seeds-blue: rgba(0, 151, 178, 1);
  --seeds-yellow: rgba(255, 222, 89, 1);
  --seeds-green: rgba(0, 191, 99, 1);

  --default-size: 36px;
}



/* Generic class declarations for container dimensions and element wrapping. */

.container {
  width: 100%;
  height: 100%;

  box-sizing: border-box;
}

.wrapper {
  width: 100vw;
  height: 100vh;
}

.box {
  width: auto;
  height: auto;
}

.row-center {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.column-center {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}



/* Generic class declarations for positioning and stacking. */

.fixed {
  position: fixed;

  left: 0;
  top: 0;
}

.static {
  position: static;
}

.layer-hidden {
  z-index: -100;
}

.layer-background {
  z-index: 0;
}

.layer-foreground {
  z-index: 100;
}                                                                                   

.layer-overlay {
  z-index: 500;
}

.layer-interactive {
  z-index: 1000;
}



/* Generic class declarations for typography. */

.type-header {
  font: normal normal calc(var(--default-size)*2)/100% "Outfit", sans-serif;
  color: black;
}

.type-subheader {
  font: normal normal var(--default-size)/100% "Outfit", sans-serif;
  color: black
}

.type-body {
  font: normal normal calc(var(--default-size)/2)/100% "Outfit", sans-serif;
  color: black;
}

.type-note {
  font: normal normal calc(var(--default-size)/3)/100% "Outfit", sans-serif;
  color: black;
}



/* Style declarations for special classes. */

img {
  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: center center;
}

.header {
  width: 100%;
  min-width: calc(var(--default-size)*10);
  height: auto;

  box-sizing: border-box;

  padding: var(--default-size);

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.header > * {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.header-logo > img {
  height: calc(var(--default-size)*3/4);
}

.header-buttons > * {
  height: var(--default-size);

  margin: 0 0 0 calc(var(--default-size)/3);
}

.title-container {
  height: calc(var(--default-size)*10);

  margin: 0 0 25vh 0;

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

.title-container > * {
  font: normal 800 calc(var(--default-size)*10)/100% "Outfit", sans-serif;
  color: white;
}

.button {
  width: calc(var(--default-size)*3);
  height: var(--default-size);
  
  border-radius: calc(var(--default-size)/4);

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  background-color: white;

  text-align: center;

  cursor: pointer;
}

.button > * {
  font: normal 600 calc(var(--default-size)/3)/100% "Outfit", sans-serif;  
  text-decoration: none;
  color: black;
}

.button:hover {
  background-color: var(--default-blue);
}

.button:hover > * {
  color: white;
}

.form {
  border-radius: calc(var(--default-size)/4);
  outline: solid 0.5px black;
  padding: var(--default-size);

  background-color: white;

  color: black;
}

.form > *  {
  margin: calc(var(--default-size)/2) 0;
}

.form-header {
  font: 36px 'Outfit', sans-serif;
  text-align: center;
}

.form-header > span {
  margin: calc(var(--default-size)/2) 0;
}

.form-field {
  width: 100%;
  height: auto;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.form-field > label {
  width: 25%;
  height: auto;

  margin: 0 calc(var(--default-size)/3) 0 0;

  font: 18px 'Outfit', sans-serif;
  text-align: left;
  color: black;
}

.form-field > input {
  width: 100%;
  height: auto;
  
  border: none;
  border-radius: calc(var(--default-size)/4);
  outline: unset;
  padding: calc(var(--default-size)/3);
  
  font: 18px 'Outfit', sans-serif;
  color: black;
}

.form-note {
  width: 100%;
  height: auto;

  text-align: center;
}

.form-note > span {
  width: 100%;
  
  font: 18px 'Outfit', sans-serif;
  color: black;
}



/* Styling for GIS components. */

.map-container {
  width: 100%;
  height: calc(100% - 108px);

  margin: 0;
  border: 0;
  padding: 0;

  position: relative;
  top: -54px;
  left: 0;
}



/* Animations. */

.appear {
  overflow: clip;

  animation: 1s ease-in-out appear;
}

@keyframes appear {
  0% {
    display: none;
  }
  50% {
    display: none;
  }
  100% {
    display: block;
  }
}

.slide-in-up {
  animation: 4s ease-in-out slide-in-up;
}

@keyframes slide-in-up {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    opacity: 0
  }

  25% {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    opacity: 0
  }

  75% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.fade-in {
  animation: 4s ease-in-out fade-in;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  70% {
    opacity: 0;
  }

  80% {
    opacity: 0.5;
  }
  
  100% {
    opacity: 1;
  }
}



/* Modified styling for resized screens and mobile devices. */

@media only screen and (max-width: 1200px) {
  .title-container > * {
    font: normal 800 calc(24vw - 72px)/100% "Outfit", sans-serif;
  }
} 

@media only screen and (max-width: 600px) {
  .header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }

  .header-buttons {
    position: fixed;
    top: 50%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }

  .title-container > * {
    font: normal 800 calc(var(--default-size)*4)/100% "Outfit", sans-serif;
  }
}