/* This file serves as the library for local styles and styling at the application level. */

/***/

/* Declaration of generic styling values. */

/*
.section {
  --var-name: value;
}

.use-case {
  attribute: var(--var-name);
}
*/

#root {
  --default-size: 36px;
}

/***/

.hidden {
  display: none;
}

.container {
  width: 100%;
  height: 100%;

  position: absolute;
  left: 0;
  top: 0;

  &.interactive {
    z-index: 1000;
  }

  &.overlay {
    z-index: 100;
  }

  &.foreground {
    z-index: 10;
  }

  &.background {
    z-index: 1;
  }

  box-sizing: border-box;
}

div:has(> wrapper) {
  pointer-events: none;
}

.wrapper {
  width: auto;
  height: auto;

  pointer-events: all;
}

.row-left {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.row-center {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.row-right {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}

.row-fill {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

.column-top {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

.column-center {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.column-bottom {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: center;
}

.column-fill {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}

.header {
  width: 100%;
  height: calc(var(--default-size)*2);

  & span {
    font: normal normal calc(var(--default-size)/2)/100% "Outfit", sans-serif;  
    color: rgba(0, 0, 0, 1);
  }
}

.body {
  flex-grow: 1;
}

.footer {
  width: 100%;
  height: calc(var(--default-size)*4);

  & div {
    width: 100%;
    height: calc(var(--default-size));

    & :nth-child(odd) {
      font: normal normal calc(var(--default-size)/2)/100% "Outfit", sans-serif;  
      color: rgba(0, 0, 0, 1);
    }

    & :nth-child(even) {
      margin: 0 calc(var(--default-size)/2);

      font: normal 800 calc(var(--default-size)*3/4)/100% "Outfit", sans-serif;  
      color: rgba(0, 0, 0, 1);
    }

    @media (max-width: 900px) {
      &:nth-child(odd) {
        display: none;
      }
    }
  }
}

span {
  display: inline-block;

  text-align: center;
}

.title span {
  font: normal 800 calc(var(--default-size)*8)/100% "Outfit", sans-serif;
  color: rgba(0, 0, 0, 1);
}

@media (max-width: 900px) {
  .title span {
    font: normal 800 calc(var(--default-size)*3)/100% "Outfit", sans-serif;
  }
}

.subtitle span {
  font: normal 800 calc(var(--default-size))/100% "Outfit", sans-serif;
  color: rgba(0, 0, 0, 1);
}

@media (max-width: 900px) {
  .subtitle {
    display: none;
  }
}

& .button {
  width: calc(var(--default-size)*4);
  height: calc(var(--default-size)*2);
    
  background-color: rgba(255, 255, 255, 1);

  cursor: pointer;

  & span {
    font: normal 800 calc(var(--default-size)/2)/100% "Outfit", sans-serif;  
    color: rgba(0, 0, 0, 1);

    text-transform: uppercase;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 1);

    & span {
      color: rgba(255, 255, 255, 1);
    }
  }
}

img {
  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: center center;
}

.transparent {
  pointer-events: none;
}

/***/

#landing-page {
  & .container {
    &.interactive {
      & .body {
        padding: calc(var(--default-size)*8) 0 0 0;

        & .button {
          background-color: rgba(60, 120, 240, 1);

          & span {
            color: rgba(255, 255, 255, 1);
          }

          &:hover {
            background-color: rgba(0, 0, 0, 1);

            & span {
              color: rgba(255, 255, 255, 1);
            }
          }
        }
      }
    }

    &.foreground {
      padding: calc(var(--default-size)*4) 0 0 0;
    }
  }
}

#sign-in-page, #change-password-page {
  & .container {
    position: absolute;
    left: 0;
    top: 0;

    &.interactive {
      z-index: 1000;

      pointer-events: none;

      & .wrapper {


        & .form {
          width: calc(var(--default-size)*16);
          height: calc(var(--default-size)*16);

          & .form-header {
            width: 100%;
            height: calc(var(--default-size)*2);
          }

          & .form-note {
            width: 100%;
            height: calc(var(--default-size)*2);
            
            & span {
              font: normal normal calc(var(--default-size)/2)/100% "Outfit", sans-serif;  
              color: rgba(0, 0, 0, 1);
            }

            &:has[onClick] {
              cursor: pointer;
            }
          }

          & .form-field {
            width: 100%;
            height: calc(var(--default-size));

            margin: calc(var(--default-size)/8);

            & label {
              width: calc(var(--default-size)*4);

              & span {
                font: normal 800 calc(var(--default-size)/2)/100% "Outfit", sans-serif;  
                color: rgba(0, 0, 0, 1);
              }
            }

            & input {
              width: calc(var(--default-size)*8);
              
              padding: calc(var(--default-size)/8) calc(var(--default-size)/4);

              font: normal normal calc(var(--default-size)/2)/100% "Outfit", sans-serif;  
              color: rgba(0, 0, 0, 1);
            }
          }

          & .form-buttons {
            & .button {
              margin: 0 calc(var(--default-size)/2);
            }
          }
        }

        & .footer {
          width: calc(var(--default-size)*16);
          height: calc(var(--default-size));

          
        }
      }
    }

    &.background {
      z-index: 1;

      & .button {
        width: calc(var(--default-size));
        height: calc(var(--default-size));

        position: absolute;
        right: 0;
        top: 0;

        margin: calc(var(--default-size));
      }
    }
  }
}