/* This file serves as the library for local styles and styling at the application level. */



/* Declaration of generic styling values. */

/*
.section {
  --var-name: value;
}

.use-case {
  attribute: var(--var-name);
}
*/

#root {
  --default-red: #FF3131;
  --default-blue: #004AAD;

  --seeds-red: #FF914D;
  --seeds-blue: #0097B2;
  --seeds-yellow: #FFDE59;
  --seeds-green: #00BF63;

  --default-margin: 36px;
}



/* Generic class declarations for container dimensions and element wrapping. */

.container {
  width: 100%;
  height: 100%;
}

.box {
  width: auto;
  height: auto;
}

.box > * {
  padding: calc(var(--default-margin)/4);
}

.row-center {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.column-center {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.header {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.header-left, .header-right {
  margin: var(--default-margin);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-left > *, .header-right > * {
  height: var(--default-margin);
}

.backdrop {
  background-color: var(--default-blue);
  opacity: 0.85;
}



/* Generic class declarations for positioning and stacking. */

.fixed {
  position: absolute;

  left: 0;
  top: 0;
}

.layer-hidden {
  z-index: -100;
}

.layer-background {
  z-index: 0;
}

.layer-foreground {
  z-index: 100;
}                                                                                   

.layer-overlay {
  z-index: 500;
}

.layer-interactive {
  z-index: 1000;
}



/* Generic class declarations for typography. */

.type-title {
  font: normal 800 calc(100vw / 4)/100% "Outfit", sans-serif;
  color: #FFFFFF;

  margin: 0 0 25vh 0;
}

.type-header {
  font: normal normal 72px/100% "Outfit", sans-serif;
  color: #000000;
}

.type-body {
  font: normal normal 18px/100% "Outfit", sans-serif;
  color: #000000;
}



/* Generic styling for functional elements. */

img {
  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: center center;
}

.button {
  min-width: 120px;
  height: 36px;
  
  margin: 0 12px;
  border-radius: 24px;
  outline: solid 2px #FFFFFF;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  background-color: #00000000;
  
  text-align: center;

  cursor: pointer;

  transition: all 0.25s ease-in-out;
}

.button > * {
  font: normal 400 16px/100% "Outfit", sans-serif;  
  text-decoration: none;
  color: #FFFFFF;
}

.button:hover {
  background-color: #FFFFFF;
}

.button:hover > span, .button:hover > a {
  color: #000000;
}

.button-about > a > span::after {
  content: "About"
}

.button-sign-in > span::after {
  content: "Sign In"
}

.field {
  width: 100%;
  height: auto;
}

.field > input {
  width: 85%;
  
  margin: 24px 0 0;
  border: none;
  border-radius: 10px;
  outline: unset;
  padding: 12px;
  
  font: 16px 'Outfit', sans-serif;
  color: #000000;
}

.field-note {
  width: 100%;
  height: auto;
}

.field-note > span {
  width: 85%;

  margin: 24px 0;
  border: none;
  border-radius: 10px;
  padding: 12px;
  
  font: 16px 'Outfit', sans-serif;
  text-align: center;
  color: #FFFFFF;
}

/* Styling for GIS components. */

.map-container {
  width: 50vw;
  height: 100vh;
}



/* Animations. */

.appear {
  overflow: clip;

  animation: 1s ease-in-out appear;
}

@keyframes appear {
  0% {
    display: none;
  }
  50% {
    display: none;
  }
  100% {
    display: block;
  }
}

.slide-in-up {
  animation: 4s ease-in-out slide-in-up;
}

@keyframes slide-in-up {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    opacity: 0
  }

  25% {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    opacity: 0
  }

  75% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.fade-in {
  animation: 4s ease-in-out fade-in;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  70% {
    opacity: 0;
  }

  80% {
    opacity: 0.5;
  }
  
  100% {
    opacity: 1;
  }
}



/* Styling for responsive UI/UX design. */

/* Styling for resized screens and mobile devices. */

@media only screen and (max-width: 720px) {
  .type-title {
    font: normal 800 180px/100% "Outfit", sans-serif;
  }

  .button {
    min-width: 36px;
    height: 36px;

    outline: none;
  }
  
  .button:hover {
    background-color: #FFFFFF00;
  }
  
  .button:hover > span, .button:hover > a {
    color: #000000;
  }
  
  .button-about > a > span::after {
    font: normal normal 36px/100% "Material Symbols Outlined";
    content: "\e88e";
  }

  .button-sign-in > span::after {
    font: normal normal 36px/100% "Material Symbols Outlined";
    content: "\e853";
  }

  #root-header-right {
    width: auto;
    height: 36px;
  }

  #root-header-right > div {
    width: 36px;
    height: 36px;

    margin: 9px;
    border: 0;
    outline: 0;
    padding: 0;
  }
}