#loading-component {
  > * {
    display: flex;
    flex-flow: column nowrap;
    place-items: center center;
    place-content: center center;

    width: calc(var(--default-size-large, 480px) * 1.25);
    height: calc(var(--default-size-large, 480px) * 0.75);

    background-color: black;

    > :nth-child(1) {
      animation: rotate 1.00s linear 0.00s infinite;

      width: calc(var(--default-size-large, 480px) * 0.25);
      height: calc(var(--default-size-large, 480px) * 0.25);

      box-sizing: border-box;
      margin-bottom: calc(var(--space-100, 8px) * 2.50);
      border-radius: 50%;
      padding: calc(var(--space-100, 8px) * 0.67);

      background-color: var(--color-white, rgba(255, 255, 255, 1.00));
      --mask: conic-gradient(var(--color-none, rgba(0, 0, 0, 0.00)), var(--color-black, rgba(0, 0, 0, 1.00))), linear-gradient(var(--color-black, rgba(0, 0, 0, 1.00)) 0 0) content-box;
      -webkit-mask: var(--mask);
      mask: var(--mask);
      -webkit-mask-composite: source-out;
      mask-composite: subtract;
    }

    > :nth-child(2) {
      font: var(--type-normal-s16, normal 400 16px/1.25 "Outfit", sans-serif);
      color: var(--color-white, rgba(255, 255, 255, 1.00));
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}