#filter-menu-container {
  display: flex;
  flex-flow: row nowrap;
  place-items: center center;
  place-content: center center;
  
  width: 100%;
  height: 100%;

  box-sizing: border-box;
  padding: var(--space-100, 8px);
  gap: var(--space-100, 8px);

  /* Filter Categories */
  > * {
    display: flex;
    flex-flow: column nowrap;
    place-items: center center;
    place-content: center center;
      
    width: calc(var(--space-100, 8px) * 24);
    height: 100%;

    box-sizing: border-box;
    outline: var(--border-black-025, 2px solid rgba(0, 0, 0, 1.00));

    /* Label */
    > :nth-child(1) {
      display: flex;
      flex-flow: row nowrap;
      place-items: center center;
      place-content: center start;

      width: 100%;
      height: 50%;

      box-sizing: border-box;
      padding: var(--space-100, 8px);

      background-color: var(--color-gray-100, rgba(100, 100, 100, 1.00));

      font: var(--type-normal-s16, normal 400 16px/1.25 "Outfit", sans-serif);
      color: var(--color-white, rgba(255, 255, 255, 1.00));    
    }

    /* Interactive Components */
    > :nth-child(2) {
      display: flex;
      flex-flow: row nowrap;
      place-items: center center;
      place-content: center start;

      width: 100%;
      height: 50%;

      cursor: pointer;
    }
      
    /* Input Field */
    > .filter-menu-input > input {
      width: 100%;
      height: 100%;

      box-sizing: border-box;
      outline: none;
      padding-block: 0;
      padding-inline: var(--space-100, 8px);

      font: var(--type-normal-s16, normal 400 16px/1.25 "Outfit", sans-serif);
      text-transform: capitalize;
      color: var(--color-black, rgba(0, 0, 0, 1.00));
    }

    /* Inactive Dropdown Lists */
    > .filter-menu-dropdown-inactive {
      position: relative;

      display: inline-block;

      /* Dropdown Button */
      > :nth-child(1) {
        overflow: clip clip;
        white-space: nowrap;
  
        width: 100%;
        height: 100%;
  
        box-sizing: border-box;
        padding: var(--space-100, 8px);
  
        background-color: var(--color-white, rgba(255, 255, 255, 1.00));
  
        font: var(--type-normal-s16, normal 400 16px/1.25 "Outfit", sans-serif);
        text-transform: capitalize;
        text-overflow: ellipsis;
        color: var(--color-black, rgba(0, 0, 0, 1.00));
      }

      /* Dropdown Content */
      > :nth-child(2) {
        display: none;
      }
    }

    /* Active Dropdown Lists */
    > .filter-menu-dropdown-active {
      position: relative;

      display: inline-block;

      /* Dropdown Button */
      > :nth-child(1) {
        overflow: clip clip;
        white-space: nowrap;
  
        width: 100%;
        height: 100%;
  
        box-sizing: border-box;
        padding: var(--space-100, 8px);
  
        background-color: var(--color-white, rgba(255, 255, 255, 1.00));
  
        font: var(--type-normal-s16, normal 400 16px/1.25 "Outfit", sans-serif);
        text-transform: capitalize;
        text-overflow: ellipsis;
        color: var(--color-black, rgba(0, 0, 0, 1.00));
      }

      /* Dropdown Content */
      > :nth-child(2) {
        position: absolute;
        z-index: 100;
  
        display: inline-block;
  
        overflow: hidden auto;
    
        width: 100%;
        max-width: 100%;
        height: auto;
        max-height: var(--height-100, 480px);
  
        box-sizing: border-box;
        box-shadow: calc(var(--border-100, 2px) * -1) 0 0 0 var(--color-black, rgba(0, 0, 0, 1.00)), 0 calc(var(--border-100, 2px) * 1) 0 0 var(--color-black, rgba(0, 0, 0, 1.00)), calc(var(--border-100, 2px) * 1) 0 0 0 var(--color-black, rgba(0, 0, 0, 1.00));
        padding: 0;
        
        background-color: var(--color-white, rgba(255, 255, 255, 1.00));
  
        /* Dropdown Item */
        > * {
          overflow: clip clip;
          white-space: wrap;
  
          width: 100%;
          height: auto;
  
          box-sizing: border-box;
          border: var(--space-100, 8px) solid transparent;
  
          font: var(--type-normal-s16, normal 400 16px/1.25 "Outfit", sans-serif);
          text-transform: capitalize;
          color: var(--color-black, rgba(0, 0, 0, 1.00));
  
          &.filter-menu-item-selected {
            background-color: var(--color-orange, rgba(225, 125, 25, 1.00));
  
            color: var(--color-white, rgba(255, 255, 255, 1.00));
          }
  
          &:hover {
            background-color: var(--color-orange, rgba(225, 125, 25, 1.00));
  
            color: var(--color-white, rgba(255, 255, 255, 1.00));
          }
        }
      }
    }
  }
}

