.md-classpie-container{
  display: flex;
  flex-direction: column;

  align-items: center;

  width: 100%;
  height: 100%;
}

.md-classpie-header{
  display: flex;
  flex-direction: row;
  /* padding-inline: 1vw; */

  width: 100%;
  border-bottom: 5px solid #F27D30;

  align-items: center;
  justify-content: center;

  background-color: black;
  color: white;
}

.md-classpie-chart{
  width: 100%;
  
  display: flex;
  flex-direction: row;
  align-items: center;
}

.md-classpie-legend {
  width: 50%;

  display: grid;
  grid-template-columns: 60% 40%;
}
