#summary-container {
  display: flex;
  flex-flow: column nowrap;
  place-items: stretch center;
  place-content: center start;

  overflow: hidden hidden;

  width: var(--default-size-large, 360px);
  height: 100%;

  background-color: var(--default-color-background-tertiary, rgba(232, 241, 255));

  > :nth-child(1) {
    display: grid;
    
    flex: auto 1 auto;

    width: auto;
    height: auto;

    box-sizing: border-box;
    padding: calc(var(--default-size-medium, 12px) * 4.00 / 3.00);

    font: bold var(--default-size-medium, 12px) var(--default-font-family, "Outfit", sans-serif);
    color: var(--default-color-text-primary, rgba(51, 51, 51, 1.00));

    /* Title */
    > :nth-child(1) {
      width: 100%;
      height: 36px;

      display: flex;
      flex-flow: column nowrap;
      place-items: stretch center;
      place-content: center center;
      
      box-sizing: border-box;
      padding: var(--default-size-medium, 12px);

      text-transform: uppercase;
    }
  }

  > :nth-child(2) {
    overflow: hidden auto;

    width: 100%;
    flex: 1 1 0;
  
    > :nth-child(1) {
      display: flex;
      flex-flow: column nowrap;
      place-items: stretch center;
      place-content: center center;
  
      box-sizing: border-box;
      padding: calc(var(--default-size-small, 1px) * 4.00) calc(var(--default-size-medium, 12px) * 4.00 / 3.00) calc((var(--default-size-medium, 12px) * 4.00 / 3.00) + (var(--default-size-small, 1px) * 4.00)) calc(var(--default-size-medium, 12px) * 4.00 / 3.00);
      gap: var(--default-size-medium, 12px);
  
      font: normal var(--default-size-medium, 12px) var(--default-font-family, "Outfit", sans-serif);
      color: var(--default-color-text-primary, rgba(51, 51, 51, 1.00));
  
      .summary-section {
        display: flex;
        flex-flow: column nowrap;
        place-items: stretch center;
        place-content: center center;
  
        box-sizing: border-box;
        border-radius: calc(var(--default-size-small, 1px) * 4.00);
        padding: calc(var(--default-size-medium, 12px) * 0.50);
        box-shadow: rgba(0, 0, 0, 0.40) 0px 2px 4px, rgba(0, 0, 0, 0.30) 0px 7px 13px -3px, rgba(0, 0, 0, 0.20) 0px -3px 0px inset;
    
        background-color: var(--default-color-background-primary, rgba(255, 255, 255, 1.00));
  
        > * {
          box-sizing: border-box;
          padding: calc(var(--default-size-medium, 12px) * 0.25);
        }
  
        > :not(:last-child) {
          border-bottom: solid var(--default-size-small, 1px) var(--default-color-text-primary, rgba(51, 51, 51, 1.00));
        }
  
        > .summary-header-row {
          display: flex;
          flex-flow: row nowrap;
          place-items: stretch center;
          place-content: center center;
  
          > :nth-child(1) {
            flex: 3 1 0;
            height: auto;
          }
  
          > :nth-child(2), > :nth-child(3) {
            display: flex;
            flex-flow: column nowrap;
            place-items: stretch center;
            place-content: center center;
  
            flex: 1 1 0;
            height: auto;
  
            text-align: center;
          }
        }
  
        > .summary-row {
          display: flex;
          flex-flow: row nowrap;
          place-items: stretch center;
          place-content: center center;
  
          > :nth-child(1) {
            flex: 3 1 0;
            height: auto;
  
            font: bold var(--default-size-medium, 12px) var(--default-font-family, "Outfit", sans-serif);
            color: var(--default-color-text-primary, rgba(51, 51, 51, 1.00));
          }
  
          > :nth-child(2), > :nth-child(3) {
            display: flex;
            flex-flow: column nowrap;
            place-items: stretch center;
            place-content: center center;
            
            flex: 1 1 0;
            height: auto;
  
            text-align: center;
          }
        }
      }
  
      .summary-section:has(> div > .summary-details) {
        display: flex;
        flex-flow: column nowrap;
        place-items: stretch center;
        place-content: center center;
  
        > .summary-section-header {
          font: bold var(--default-size-medium, 12px) var(--default-font-family, "Outfit", sans-serif);
          color: var(--default-color-text-primary, rgba(51, 51, 51, 1.00));
        }
  
        > .summary-section-subheader {
          font-style: italic;
        }
  
        > div:has(> .summary-details) {
          display: flex;
          flex-flow: column nowrap;
          place-items: stretch center;
          place-content: center center;
  
          .summary-details {
            display: flex;
            flex-flow: column nowrap;
            place-items: stretch center;
            place-content: center start;
            
            > * {
              display: flex;
              flex-flow: row nowrap;
              place-items: stretch center;
              place-content: center center;
  
              box-sizing: border-box;
              padding: calc(var(--default-size-medium, 12px) * 0.25);
  
              > :nth-child(1) {
                display: flex;
                flex-flow: row nowrap;
                place-items: center center;
                place-content: center start;
  
                flex: 3 1 0;
                height: auto;
  
                box-sizing: border-box;
                gap: calc(var(--default-size-medium, 12px) * 0.50);
  
                > :nth-child(1) {
                  width: calc(var(--default-size-medium, 12px) * 0.50);
                  height: calc(var(--default-size-medium, 12px) * 0.50);
    
                  box-sizing: border-box;
                  border-radius: 50%;
                }
  
                > :nth-child(2) {
                  flex: 1 1 0;
                  height: auto;
                }
              }
  
              > :nth-child(2), > :nth-child(3) {
                display: flex;
                flex-flow: column nowrap;
                place-items: stretch center;
                place-content: center center;
  
                flex: 1 1 0;
                height: auto;
  
                text-align: center;
              }
            }
  
            > :not(:last-child) {
              border-bottom: solid var(--default-size-small, 1px) var(--default-color-text-primary, rgba(51, 51, 51, 1.00));
            }
  
            > :nth-child(1) {
              > :not(:first-child) {
                text-align: center;
              }
            }
          }
    
          .summary-graph {
            display: flex;
            flex-flow: row nowrap;
            place-items: stretch center;
            place-content: center center;
  
            flex: 2 1 0;
            height: auto;
  
            .recharts-pie-labels {
              fill: var(--default-color-text-primary, rgba(51, 51, 51, 1.00));
          
              font-size: calc(var(--default-size-medium, 12px) * 0.75);
            }
          }
        }
      }
    }
  }
}