.areafilter-container{
  height: 8%;
  width: 100%;

  display: flex;
  background-color: gray;
}

.areafilter-header {
  width: 65%;
  background-color: gray;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.areafilter-header-title {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: center;

  font-size: 2.5vh;
}

.areafilter-header-appbar {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.areafilter-appbar-button {
  /* font-weight: bold; */
  padding: 1vh;
  /* color: white;
  background-color: #000000; */

  text-align: center;
}

.areafilter-appbar-button:hover {
  cursor: pointer;
  background-color: #F27D30;
  color: white;
  text-align: center;
  padding: 1vh;

  transition: ease-in-out 0.3s;
}

.areafilter-appbar-button-selected {
  font-weight: bold;
  padding: 1vh;
  color: white;
  background-color: #F27D30;

  text-align: center;
}

.areafilter-dropdowns{
  width: 35%;

  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.areafilter-dropdown{
  display: flex;
  flex-direction: column;
}

.areafilter-dropdown-menu {
  padding: 1vh;
  color: white;

  display: flex;
  flex-direction: column;

  transition: 0.3s ease-in-out
}

.areafilter-dropdown-menu:hover {
  cursor: pointer;
  font-weight: bold;

  background-color: #F27D30;
}

.areafilter-dropdown-list {
  padding-inline: 1vh;
  background-color: gray;

  height: 20vh;
  overflow-y: auto;

  z-index: 100;
}

.areafilter-dropdown-item {
  color: white;
  padding-block: 0.5vh;
}

.areafilter-dropdown-item:hover {
  background-color: darkgray;
  cursor: pointer;
}