#road-slopes-and-countermeasures-container {
  display: flex;
  flex-flow: column nowrap;
  place-items: center center;
  place-content: start start;

  overflow: hidden hidden;

  width: 100%;
  height: 100%;

  font: normal 400 12px "Outfit", sans-serif;
  color: rgba(75, 75, 75, 1.00);

  > :nth-child(1) {
    display: flex;
    flex-flow: row nowrap;
    place-items: center center;
    place-content: start start;

    width: 100%;
    height: auto;

    box-sizing: border-box;
    border-bottom: 1px solid rgba(225, 225, 225, 1.00);

    background-color: rgba(240, 240, 240, 1.00);
    cursor: pointer;

    > * {
      width: 50%;
      max-width: 50%;
      height: auto;
      min-height: 40px;

      box-sizing: border-box;
      border-right: 1px solid rgba(225, 225, 225, 1.00);
      padding: 12px;

      text-transform: uppercase;

      &:hover {
        > * {
          background-color: rgba(225, 125, 25, 1.00);

          color: rgba(255, 255, 255, 1.00);
        }
      }

      &.active {
        background-color: rgba(225, 125, 25, 1.00);

        color: rgba(255, 255, 255, 1.00);
      }
    }
  }
}