
#module-bar-container {
  display: flex;
  flex-flow: row nowrap;
  place-items: start center;
  place-content: center center;

  width: 100%;
  height: auto;

  box-sizing: border-box;
  padding: 12px;

  background-color: rgba(100, 100, 100, 1.00);

  /* Module Button Container */
  > :nth-child(1) {
    display: flex;
    flex-flow: column nowrap;
    place-items: center center;
    place-content: center center;
  
    flex: 1 1 auto;

    width: 100%;
    height: 100%;

    box-sizing: border-box;
    gap: 12px;

    > :nth-child(1) {
      display: flex;
      flex-flow: row nowrap;
      place-items: center center;
      place-content: center start;
    
      flex: 1 1 auto;
  
      width: 100%;
      height: 100%;
  
      box-sizing: border-box;
      gap: 12px;
  
      /* Module Button */
      > * {
        display: flex;
        flex-flow: row nowrap;
        place-items: center center;
        place-content: center center;
  
        width: auto;
        height: 100%;
    
        box-sizing: border-box;
        outline: 2px solid rgba(255, 255, 255, 1.00);
        padding: 6px 18px;
    
        cursor: pointer;
    
        font: normal 400 12px "Outfit", sans-serif;
        text-align: center;
        color: rgba(255, 255, 255, 1.00);
    
        &:hover {    
          background-color: rgba(225, 125, 25, 1.00);
        }
    
        &.selected {
          background-color: rgba(225, 125, 25, 1.00);
        }
      }
    }

    > :nth-child(2) {
      display: none;
      flex-flow: row nowrap;
      place-items: center center;
      place-content: center start;
    
      flex: 1 1 auto;
  
      width: 100%;
      height: 100%;
  
      box-sizing: border-box;
      gap: 12px;
  
      /* Module Button */
      > * {
        display: flex;
        flex-flow: row nowrap;
        place-items: center center;
        place-content: center center;
  
        width: auto;
        height: 100%;
    
        box-sizing: border-box;
        outline: 2px solid rgba(255, 255, 255, 1.00);
        padding: 6px 32px;
    
        cursor: pointer;
    
        font: normal 400 12px "Outfit", sans-serif;
        text-align: center;
        color: rgba(255, 255, 255, 1.00);
    
        &:hover {    
          background-color: rgba(225, 125, 25, 1.00);
        }
    
        &.selected {
          background-color: rgba(225, 125, 25, 1.00);
        }
      }

      &.active {
        display: flex;
      }
    }
  }


  /* Exit Button */
  > :nth-child(2) {
    display: flex;
    flex-flow: row nowrap;
    place-items: center center;
    place-content: center center;

    width: auto;
    height: auto;
    
    box-sizing: border-box;
    outline: 2px solid rgba(255, 255, 255, 1.00);
    padding: 6px 18px;
    gap: 8px;
    
    cursor: pointer;

    > :nth-child(1) {
      font-size: 12px;
      color: rgba(255, 255, 255, 1.00);
    }
    
    > :nth-child(2) {
      font-size: 16px;
      color: rgba(255, 255, 255, 1.00);
    }

    &:hover {
      background-color: rgba(225, 125, 25, 1.00);
    }
  }
}