#potential-road-slope-projects-container {
  display: flex;
  flex-flow: column nowrap;
  place-items: stretch center;
  place-content: center start;

  overflow: hidden hidden;

  width: var(--default-size-large, 360px);
  height: 100%;

  background-color: var(--default-color-background-tertiary, rgba(232, 241, 255));

  /* Data Array Header */
  > :nth-child(1) {
    display: grid;
    
    flex: auto 1 auto;

    width: auto;
    height: auto;
      
    box-sizing: border-box;
    padding: calc(var(--default-size-medium, 12px) * 4.00 / 3.00);

    font: bold var(--default-size-medium, 12px) var(--default-font-family, "Outfit", sans-serif);
    color: var(--default-color-text-primary, rgba(51, 51, 51, 1.00));

    /* Title */
    > :nth-child(1) {
      width: 100%;
      height: 36px;

      display: flex;
      flex-flow: column nowrap;
      place-items: stretch center;
      place-content: center center;
      
      box-sizing: border-box;
      padding: var(--default-size-medium, 12px);

      text-transform: uppercase;
    }
  }

  > :nth-child(2) {
    overflow: hidden auto;

    width: 100%;
    flex: 1 1 0;

    > .data-array-container {
      overflow: hidden auto;
  
      display: flex;
      flex-flow: column nowrap;
      place-items: stretch center;
      place-content: center start;
  
      box-sizing: border-box;
      padding: calc(var(--default-size-small, 1px) * 4.00) calc(var(--default-size-medium, 12px) * 4.00 / 3.00) calc((var(--default-size-medium, 12px) * 4.00 / 3.00) + (var(--default-size-small, 1px) * 4.00)) calc(var(--default-size-medium, 12px) * 4.00 / 3.00);
      gap: var(--default-size-medium, 12px);
  
      font: normal var(--default-size-medium, 12px) var(--default-font-family, "Outfit", sans-serif);
      color: var(--default-color-text-primary, rgba(51, 51, 51, 1.00));
  
      .data-container {
        display: grid;
  
        pointer-events: none;
        
        /* Header */
        > :nth-child(1) {
          display: flex;
          flex-flow: row nowrap;
          place-items: center center;
          place-content: center start;

          width: 100%;
          height: 36px;
  
          box-sizing: border-box;
          gap: calc(var(--default-size-medium, 12px) * 0.50);
          
          pointer-events: all;
          cursor: pointer;
  
          > :nth-child(1) {
            display: flex;
            flex-flow: row nowrap;
            place-items: center center;
            place-content: center center;

            width: var(--default-size-medium, 12px);
            height: var(--default-size-medium, 12px);

            box-sizing: border-box;
            margin: 0 0 0 calc(var(--default-size-small, 1px) * 4.00);
            border-radius: calc(var(--default-size-small, 1px) * 4.00);

            background-color: var(--default-color-background-secondary, rgba(245, 245, 245, 1.00));

            font-size: 8px;
            text-align: center;
            color: var(--default-color-text-primary, rgba(51, 51, 51, 1.00));
          }
  
          > :nth-child(2) {
            flex: 1 1 0;
            height: auto;
          }
        }
  
        /* Inner Items */
        > :not(:first-child) {
          box-sizing: border-box;
          padding: 0 0 0 var(--default-size-medium, 12px);
        }
  
        /* Last Item */
        &.data-container-details { 
          > * {
            box-sizing: border-box;
            padding: calc(var(--default-size-medium, 12px) * 0.50) 0 0 calc(var(--default-size-medium, 12px) * 2.50);
            
            pointer-events: all;
            cursor: pointer;
  
            font-weight: bold;
  
            &:hover {    
              color: var(--default-color-accent-dark, rgba(58, 123, 255, 1.00));
            }
    
            &.selected {
              color: var(--default-color-accent-dark, rgba(58, 123, 255, 1.00));
            }
          }
        }
      }
  
      .data-container-hidden {
        display: grid;
  
        pointer-events: none;
        
        /* Header */
        > :nth-child(1) {
          display: flex;
          flex-flow: row nowrap;
          place-items: center center;
          place-content: center start;

          width: 100%;
          height: 36px;
  
          box-sizing: border-box;
          gap: calc(var(--default-size-medium, 12px) * 0.50);
          
          pointer-events: all;
          cursor: pointer;
  
          > :nth-child(1) {
            display: flex;
            flex-flow: row nowrap;
            place-items: center center;
            place-content: center center;

            width: var(--default-size-medium, 12px);
            height: var(--default-size-medium, 12px);

            box-sizing: border-box;
            margin: 0 0 0 calc(var(--default-size-small, 1px) * 4.00);
            border-radius: calc(var(--default-size-small, 1px) * 4.00);

            background-color: var(--default-color-background-secondary, rgba(245, 245, 245, 1.00));

            font-size: 8px;
            text-align: center;
            color: var(--default-color-text-primary, rgba(51, 51, 51, 1.00));
          }
  
          > :nth-child(2) {
            flex: 1 1 0;
            height: auto;
          }
        }
  
        /* Inner Items */
        > :not(:first-child) {
          display: none;
        }
      }
  
      .inventory-section-header {
        box-sizing: border-box;
        margin: 0 0 calc(var(--default-size-medium, 12px) * 0.50) 0;
        border-radius: calc(var(--default-size-small, 1px) * 4.00);
        padding: calc(var(--default-size-medium, 12px) * 0.50);
        box-shadow: rgba(0, 0, 0, 0.40) 0px 2px 4px, rgba(0, 0, 0, 0.30) 0px 7px 13px -3px, rgba(0, 0, 0, 0.20) 0px -3px 0px inset;
  
        background-color: rgba(210, 210, 210, 1.00);
  
        font: bold var(--default-size-medium, 12px) var(--default-font-family, "Outfit", sans-serif);
      }
  
      .inventory-section-subheader {
        box-sizing: border-box;
        padding: calc(var(--default-size-medium, 12px) * 0.50) 0;
  
        font: bold var(--default-size-medium, 12px) var(--default-font-family, "Outfit", sans-serif);
      }
  
      *:has(> .inventory-section-data) {
        box-sizing: border-box;
        margin-left: calc(var(--default-size-medium, 12px) * 5.00 / 6.00);
        border-left: solid var(--default-size-small, 1px) rgba(210, 210, 210, 1.00);
      }
  
      .inventory-section-data {
        position: relative;
  
        display: inline-grid;
        
        > :nth-child(2) {
          box-sizing: border-box;
          padding: calc(var(--default-size-medium, 12px) * 0.50) 0;
        }
      }
    }
  
    > .data-array-placeholder {
      display: flex;
      flex-flow: row nowrap;
      place-items: start center;
      place-content: center stretch;
  
      width: 100%;
      height: auto;
  
      box-sizing: border-box;
      padding: calc(var(--default-size-medium, 12px) * 4.00 / 3.00) calc(var(--default-size-medium, 12px) * 8.00 / 3.00) calc(var(--default-size-medium, 12px) * 8.00 / 3.00) calc(var(--default-size-medium, 12px) * 8.00 / 3.00);
  
      font: normal var(--default-size-medium, 12px) var(--default-font-family, "Outfit", sans-serif);
      color: var(--default-color-text-primary, rgba(51, 51, 51, 1.00));
    }
  }
}