#home-component {
  width: 100%;
  height: 100%;

  display: flex;
  flex-flow: column nowrap;
  place-items: center stretch;
  place-content: center center;

  background: var(--default-color-background-primary, rgba(255, 255, 255, 1.00));

  > :nth-child(1) {
    width: 100%;
    height: auto;

    display: flex;
    flex: 0 0 0;
    flex-flow: row nowrap;
    place-items: stretch center;
    place-content: center center;

    /* Application Title */
    > :nth-child(1) {
      width: auto;
      height: 100%;

      flex: 0 0 0;
    }

    /* Filter Component */
    > :nth-child(2) {
      width: 100%;
      height: 100%;

      flex: 1 1 auto;
    }
  }

  > :nth-child(2) {
    width: 100%;
    height: 100%;

    display: flex;
    flex: 1 1 auto;
    flex-flow: row nowrap;
    place-items: stretch center;
    place-content: center center;

    > :nth-child(1) {
      width: auto;
      height: 100%;

      display: flex;
      flex: 0 0 0;
      flex-flow: row nowrap;
      place-items: stretch center;
      place-content: center center;

      > :nth-child(1) {
        width: auto;
        height: 100%;

        flex: 0 0 0;
      }
      
      > :nth-child(2) {
        &.outlet-hidden {
          display: none;
        }

        &.outlet-visible {
          width: auto;
          height: 100%;

          flex: 0 0 0;
        }
      }
    }

    /* Map Component */
    > :nth-child(2) {
      width: 100%;
      height: 100%;

      flex: 1 1 auto;
    }
  }
}

#map-container {
  --default-size: 32px;
  --default-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.30);

  display: flex;
  flex-flow: column nowrap;
  place-items: end center;
  place-content: center end;

  .esri-ui-inner-container.esri-ui-corner-container {
    inset: 0 !important;

    box-sizing: border-box;
    margin: calc(var(--default-size-medium, 12px) * 4.00 / 3.00) calc(var(--default-size-medium, 12px) * 4.00 / 3.00) calc((var(--default-size-medium, 12px) * 4.00 / 3.00 ) + var(--default-size, 32px) + calc(var(--default-size-medium, 12px) * 0.50)) calc(var(--default-size-medium, 12px) * 4.00 / 3.00);

    .esri-expand {
      > calcite-popover {
        box-sizing: border-box;
        margin-top: calc(var(--default-size-medium, 12px) * 0.75);
        
        > .esri-expand__popover-content {
          > .esri-expand__content-container {
            max-height: var(--default-size-large, 360px);

            > .esri-widget {
              max-height: 100%;
            }
          }
        }
      }
    }

    .esri-ui-top-left.esri-ui-corner {
      #widget-info-container {
        display: flex;
        flex-flow: column nowrap;
        place-items: center center;
        place-content: center center;

        width: auto;
        height: var(--default-size, 32px);

        box-sizing: border-box;
        box-shadow: var(--default-box-shadow, 0 1px 2px rgba(0, 0, 0, 0.30));
        padding: 0 calc(var(--default-size-medium, 12px) * 0.75);
      
        background: var(--default-color-background-primary, rgba(255, 255, 255, 1.00));

        font: normal var(--default-size-medium, 12px) var(--default-font-family, "Outfit", sans-serif);
        color: var(--default-color-text-secondary, rgba(102, 102, 102, 1.00));
      }
    }

    .esri-ui-top-right.esri-ui-corner {
      display: flex;
      flex-flow: row nowrap;
      place-items: center center;
      place-content: center center;

      > :not(:first-child) {
        border-right: solid 1px var(--calcite-color-border-3, rgba(223, 223, 223, 1.00));
      }

      #widget-search-container {
        box-sizing: border-box;
        margin-right: calc(var(--default-size-medium, 12px) * 4.00 / 3.00);

        background: var(--default-color-background-primary, rgba(255, 255, 255, 1.00));
        
        * {
          font: normal var(--default-size-medium, 12px) var(--default-font-family, "Outfit", sans-serif);
          color: var(--default-color-text-secondary, rgba(102, 102, 102, 1.00));
        }

        input {
          box-sizing: border-box;
          padding: 0 calc(var(--default-size-medium, 12px) * 0.75);
        }
      }

      #expand-legend-container {
        .esri-legend__layer {
          font: normal var(--default-size-medium, 12px) var(--default-font-family, "Outfit", sans-serif);
          color: var(--default-color-text-secondary, rgba(102, 102, 102, 1.00));
        }
      }

      #expand-layer-list-container {
        .esri-layer-list__item-content, .esri-layer-list__filter-no-results > * > * {
          font: normal var(--default-size-medium, 12px) var(--default-font-family, "Outfit", sans-serif);
          color: var(--default-color-text-secondary, rgba(102, 102, 102, 1.00));
        }
      }

      #expand-basemap-gallery-container {
        .esri-basemap-gallery__item-content {
          font: normal var(--default-size-medium, 12px) var(--default-font-family, "Outfit", sans-serif);
          color: var(--default-color-text-secondary, rgba(102, 102, 102, 1.00));
        }
      }

      #expand-editor-container {
        .esri-editor__panel-content > * {
          font: normal var(--default-size-medium, 12px) var(--default-font-family, "Outfit", sans-serif);
          color: var(--default-color-text-secondary, rgba(102, 102, 102, 1.00));
        }
      }

      #expand-print-container {
        font: normal var(--default-size-medium, 12px) var(--default-font-family, "Outfit", sans-serif);
        color: var(--default-color-text-secondary, rgba(102, 102, 102, 1.00));
      }
    }

    .esri-ui-bottom-left.esri-ui-corner {
      #widget-scale-container {
        > * {
          > :nth-child(1) {
            height: calc((var(--default-size-medium, 12px) * 4.00 / 3.00));

            box-sizing: border-box;
            box-shadow: var(--default-box-shadow, 0 1px 2px rgba(0, 0, 0, 0.30));

            background: var(--default-color-background-primary, rgba(255, 255, 255, 1.00));

            &::before, &::after {
              height: calc((var(--default-size-medium, 12px) * 4.00 / 3.00));
            }
          }

          > :nth-child(2) {
            box-sizing: border-box;
            padding: calc(var(--default-size-small, 1px) * 2.00) calc(var(--default-size-medium, 12px) * 0.50);

            > * {
              font: normal calc(var(--default-size-medium, 12px) * 0.75) var(--default-font-family, "Outfit", sans-serif);
              color: var(--calcite-ui-icon-color, var(--calcite-color-text-3, rgba(106, 106, 106, 1.00)));
            }
          }
        }
      }
    }
  }

  #map-switch {
    position: absolute;
    z-index: 100;

    display: flex;
    flex-flow: column nowrap;
    place-items: center center;
    place-content: center center;

    width: var(--default-size, 32px);
    height: var(--default-size, 32px);

    box-sizing: border-box;
    box-shadow: var(--default-box-shadow, 0 1px 2px rgba(0, 0, 0, 0.30));
    margin: 0 calc((var(--default-size-medium, 12px) * 8.00 / 3.00) + var(--default-size, 32px)) calc((var(--default-size-medium, 12px) * 4.00 / 3.00) + var(--default-size, 32px) + calc(var(--default-size-medium, 12px) * 0.50)) 0;
  
    background: var(--default-color-background-primary, rgba(255, 255, 255, 1.00));
    cursor: pointer;

    font: normal var(--default-size-medium, 12px) var(--default-font-family, "Outfit", sans-serif);
    color: var(--calcite-ui-icon-color, var(--calcite-color-text-3, rgba(106, 106, 106, 1.00)));
  }

  .esri-ui-inner-container.esri-ui-manual-container {
    .esri-component.esri-popup {
      box-sizing: border-box;
      margin: calc(var(--default-size-medium, 12px) * 4.00 / 3.00);
    }

    .esri-feature-content > * > * {
      table {
        width: 100%;
        height: auto;

        font: normal var(--default-size-medium, 12px) var(--default-font-family, "Outfit", sans-serif);
        
        > * {
          > :nth-child(odd) {
            background: var(--calcite-color-foreground-3, rgba(234, 234, 234, 1.00));
          }

          > * > * {
            padding: calc(var(--default-size-medium, 12px) * 0.50);
          }
  
          > * > :nth-child(2) {
            text-transform: capitalize;
          }
        }
      }
    }

    .esri-attribution {
      box-sizing: border-box;
      padding: var(--default-size-medium, 12px);

      > :nth-child(1) {
        font: normal var(--default-size-medium, 12px) var(--default-font-family, "Outfit", sans-serif);
        color: var(--default-color-text-secondary, rgba(102, 102, 102, 1.00));
      }

      > :nth-child(2) {
        font: bold var(--default-size-medium, 12px) var(--default-font-family, "Outfit", sans-serif);
        color: var(--default-color-text-secondary, rgba(102, 102, 102, 1.00));
      }
    }
  }
}