#filter-component {
  display: flex;
  flex-flow: column nowrap;
  place-items: center stretch;
  place-content: center center;

  width: 100%;
  height: auto;
  
  box-sizing: border-box;
  padding: calc(var(--default-size-medium, 12px) * 4.00 / 3.00);
  gap: calc(var(--default-size-medium, 12px) * 4.00 / 3.00);

  background: var(--default-color-background-secondary, rgba(245, 245, 245, 1.00));

  font: normal var(--default-size-medium, 12px) var(--default-font-family, "Outfit", sans-serif);
  color: var(--default-color-text-secondary, rgba(102, 102, 102, 1.00));

  > :nth-child(1) {
    position: relative;

    display: inline-block;
    place-items: center center;
    place-content: center center;

    width: 100%;
    height: calc(var(--default-size-medium, 12px) * 3.00);

    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.40) 0px 2px 4px, rgba(0, 0, 0, 0.30) 0px 7px 13px -3px, rgba(0, 0, 0, 0.20) 0px -3px 0px inset;
    border-radius: calc(var(--default-size-small, 1px) * 4.00);
    padding: calc(var(--default-size-medium, 12px) * 0.50) calc((var(--default-size-medium, 12px) * 0.50) + calc(var(--default-size-medium, 12px) * 3.00)) calc((var(--default-size-medium, 12px) * 0.50) + calc(var(--default-size-small, 1px) * 4.00)) calc(var(--default-size-medium, 12px) * 0.50);

    background: var(--default-color-background-primary, rgba(255, 255, 255, 1.00));

    > input {
      width: 100%;
      height: auto;

      border: none;

      cursor: pointer;

      font: normal var(--default-size-medium, 12px) var(--default-font-family, "Outfit", sans-serif);
      color: var(--default-color-text-secondary, rgba(102, 102, 102, 1.00));

      &:focus-visible {
        outline: none;
      }
    }

    > :nth-child(2) {
      position: absolute;
      right: calc(var(--default-size-medium, 12px) * 0.50);
      top: calc(var(--default-size-medium, 12px) * 0.50);

      display: block;

      > * {
        display: flex;
        flex-flow: column nowrap;
        place-items: center center;
        place-content: center center;

        box-sizing: border-box;
        border-radius: calc(var(--default-size-small, 1px) * 4.00);
        padding: calc(var(--default-size-small, 1px) * 4.00);

        background: var(--default-color-accent-dark, rgba(58, 123, 255, 1.00));
        cursor: pointer;

        font-size: calc(var(--default-size-medium, 12px) * 1.25);
        color: var(--default-color-background-primary, rgba(255, 255, 255, 1.00));
      }
    }
  }

  > :nth-child(2) {
    display: flex;
    flex-flow: row nowrap;
    place-items: center center;
    place-content: center center;

    width: 100%;
    height: auto;

    box-sizing: border-box;
    gap: calc(var(--default-size-medium, 12px) * 4.00 / 3.00);

    background: var(--default-color-background-secondary, rgba(245, 245, 245, 1.00));

    > * {
      position: relative;

      display: inline-block;
      place-items: center stretch;
      place-content: center center;

      flex: 1 1 0;
      max-width: calc(100% / 3.00);
      height: calc(var(--default-size-medium, 12px) * 3.00);

      box-sizing: border-box;
      box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;  
      border-radius: calc(var(--default-size-small, 1px) * 4.00);
      padding: calc(var(--default-size-medium, 12px) * 0.25) calc(var(--default-size-medium, 12px) * 0.50) calc((var(--default-size-medium, 12px) * 0.50) + calc(var(--default-size-small, 1px) * 4.00)) calc(var(--default-size-medium, 12px) * 0.75);

      background: var(--default-color-background-primary, rgba(255, 255, 255, 1.00));
      cursor: pointer;

      > * {
        width: 100%;
        height: auto;
      }

      > :nth-child(1) {
        display: flex;
        flex-flow: row nowrap;
        place-items: center center;
        place-content: center space-between;

        > :nth-child(1) {
          overflow: hidden;
          white-space: nowrap;

          width: 100%;
          height: auto;

          text-overflow: ellipsis;
        }
  
        > :nth-child(2) {
          box-sizing: border-box;
          padding: 0 calc(var(--default-size-medium, 12px) * 0.25);

          font-size: calc(var(--default-size-medium, 12px) * 0.75);
        }
      }

      &.filter-menu-dropdown-inactive {
        > :nth-child(2) {
          display: none;
        }
      }

      &.filter-menu-dropdown-active {
        > :nth-child(2) {
          position: absolute;
          left: 0;
          top: calc((var(--default-size-medium, 12px) * 4.00 / 3.00) + calc(var(--default-size-medium, 12px) * 3.00));
          z-index: 100;

          display: block;

          overflow-x: hidden;
          overflow-y: scroll;

          max-height: var(--default-size-large, 360px);

          box-sizing: border-box;
          box-shadow: rgba(0, 0, 0, 0.40) 0px 2px 4px, rgba(0, 0, 0, 0.30) 0px 7px 13px -3px, rgba(0, 0, 0, 0.20) 0px -3px 0px inset;  
          border-radius: calc(var(--default-size-small, 1px) * 4.00);
          padding: calc(var(--default-size-small, 1px) * 4.00) calc(var(--default-size-small, 1px) * 4.00) calc(var(--default-size-small, 1px) * 8.00) calc(var(--default-size-small, 1px) * 4.00);
        
          background: var(--default-color-background-primary, rgba(255, 255, 255, 1.00));

          > * {
            box-sizing: border-box;
            padding: calc(var(--default-size-medium, 12px) * 0.50);
          }

          :hover, &.filter-menu-item-selected {
            color: var(--default-color-accent-dark, rgba(58, 123, 255, 1.00));
          }
        }
      }
    }
  }
}

