#filter-component {
  width: 100%;
  height: auto;

  display: flex;
  flex-flow: column nowrap;
  place-items: center stretch;
  place-content: center center;
  
  box-sizing: border-box;
  padding: var(--default-size-medium, 24px);
  gap: var(--default-size-medium, 24px);

  > :nth-child(1) {
    position: relative;

    display: inline-block;

    width: 100%;
    height: auto;

    box-sizing: border-box;
    border-radius: calc(var(--default-size-small, 1px) * 4.00);
    padding: calc(var(--default-size-small, 1px) * 4.00) var(--default-size-medium, 24px) calc(var(--default-size-small, 1px) * 8.00) calc(var(--default-size-small, 1px) * 4.00);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

    > input {
      width: 100%;
      height: auto;

      border: none;

      cursor: pointer;

      &:focus-visible {
        outline: none;
      }
    }

    > :nth-child(2) {
      position: absolute;
      right: 0;
      top: 0;

      display: block;

      box-sizing: border-box;
      padding: calc(var(--default-size-small, 1px) * 4.00);

      cursor: pointer;

      > * {
        box-sizing: border-box;
        border-radius: calc(var(--default-size-small, 1px) * 4.00);
        padding: calc(var(--default-size-small, 1px) * 2.00);

        background-color: var(--default-color-theme, blue);

        font-size: calc(var(--default-size-medium, 24px) * 0.75);
        
        color: var(--default-color-light, white);
      }
    }
  }

  > :nth-child(2) {
    display: flex;
    flex-flow: row nowrap;
    place-items: center center;
    place-content: center space-between;

    width: 100%;
    height: auto;

    box-sizing: border-box;
    gap: var(--default-size-medium, 24px);

    > * {
      display: flex;
      flex-flow: column nowrap;
      place-items: center center;
      place-content: center center;
      
      flex: 1 1 0;
      height: auto;

      box-sizing: border-box;
      border-radius: calc(var(--default-size-small, 1px) * 4.00);
      padding: calc(var(--default-size-small, 1px) * 4.00) var(--default-size-medium, 24px) calc(var(--default-size-small, 1px) * 8.00) calc(var(--default-size-small, 1px) * 4.00);
      box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

      > :nth-child(2) {
        position: relative;
        top: 0;

        display: block;

        max-height: var(--default-size-large, 480px);
      }
    }
  }

  /* Filter Categories */
  /* > * {
    display: flex;
    flex-flow: column nowrap;
    place-items: center center;
    place-content: center center;
      
    width: calc(var(--space-100, 8px) * 24);
    height: 100%;

    box-sizing: border-box;
    outline: var(--border-black-025, 2px solid rgba(0, 0, 0, 1.00));

    /* Label */
    /* > :nth-child(1) {
      display: flex;
      flex-flow: row nowrap;
      place-items: center center;
      place-content: center start;

      width: 100%;
      height: 50%;

      box-sizing: border-box;
      padding: var(--space-100, 8px);

      background-color: var(--color-gray-100, rgba(100, 100, 100, 1.00));

      font: var(--type-normal-s16, normal 400 16px/1.25 "Outfit", sans-serif);
      color: var(--color-white, rgba(255, 255, 255, 1.00));    
    } */

    /* Interactive Components */
    /* > :nth-child(2) {
      display: flex;
      flex-flow: row nowrap;
      place-items: center center;
      place-content: center start;

      width: 100%;
      height: 50%;

      cursor: pointer;
    } */
      
    /* Input Field */
    /* > .filter-menu-input > input {
      width: 100%;
      height: 100%;

      box-sizing: border-box;
      border: none;
      outline: none;
      padding-block: 0;
      padding-inline: var(--space-100, 8px);

      font: var(--type-normal-s16, normal 400 16px/1.25 "Outfit", sans-serif);
      text-transform: capitalize;
      color: var(--color-black, rgba(0, 0, 0, 1.00));
    } */

    /* Inactive Dropdown Lists */
    /* > .filter-menu-dropdown-inactive {
      position: relative;

      display: inline-block; */

      /* Dropdown Button */
      /* > :nth-child(1) {
        overflow: clip clip;
        white-space: nowrap;
  
        width: 100%;
        height: 100%;
  
        box-sizing: border-box;
        padding: var(--space-100, 8px);
  
        background-color: var(--color-white, rgba(255, 255, 255, 1.00));
  
        font: var(--type-normal-s16, normal 400 16px/1.25 "Outfit", sans-serif);
        text-transform: capitalize;
        text-overflow: ellipsis;
        color: var(--color-black, rgba(0, 0, 0, 1.00));
      } */

      /* Dropdown Content */
      /* > :nth-child(2) {
        display: none;
      }
    } */

    /* Active Dropdown Lists */
    /* > .filter-menu-dropdown-active {
      position: relative;

      display: inline-block; */

      /* Dropdown Button */
      /* > :nth-child(1) {
        overflow: clip clip;
        white-space: nowrap;
  
        width: 100%;
        height: 100%;
  
        box-sizing: border-box;
        padding: var(--space-100, 8px);
  
        background-color: var(--color-white, rgba(255, 255, 255, 1.00));
  
        font: var(--type-normal-s16, normal 400 16px/1.25 "Outfit", sans-serif);
        text-transform: capitalize;
        text-overflow: ellipsis;
        color: var(--color-black, rgba(0, 0, 0, 1.00));
      } */

      /* Dropdown Content */
      /*> :nth-child(2) {
        position: absolute;
        z-index: 100;
  
        display: inline-block;
  
        overflow: hidden auto;
    
        width: 100%;
        max-width: 100%;
        height: auto;
        max-height: var(--height-100, 480px);
  
        box-sizing: border-box;
        box-shadow: calc(var(--border-100, 2px) * -1) 0 0 0 var(--color-black, rgba(0, 0, 0, 1.00)), 0 calc(var(--border-100, 2px) * 1) 0 0 var(--color-black, rgba(0, 0, 0, 1.00)), calc(var(--border-100, 2px) * 1) 0 0 0 var(--color-black, rgba(0, 0, 0, 1.00));
        padding: 0;
        
        background-color: var(--color-white, rgba(255, 255, 255, 1.00));
  
        /* Dropdown Item */
        /* > * {
          overflow: clip clip;
          white-space: wrap;
  
          width: 100%;
          height: auto;
  
          box-sizing: border-box;
          border: var(--space-100, 8px) solid transparent;
  
          font: var(--type-normal-s16, normal 400 16px/1.25 "Outfit", sans-serif);
          text-transform: capitalize;
          color: var(--color-black, rgba(0, 0, 0, 1.00));
  
          &.filter-menu-item-selected {
            background-color: var(--color-orange, rgba(225, 125, 25, 1.00));
  
            color: var(--color-white, rgba(255, 255, 255, 1.00));
          }
  
          &:hover {
            background-color: var(--color-orange, rgba(225, 125, 25, 1.00));
  
            color: var(--color-white, rgba(255, 255, 255, 1.00));
          }
        }
      }
    }
  } */
}

