.closure-total-container{
  display: flex;
  flex-direction: column;

  align-items: center;

  width: 100%;
  height: 100%;
}

.closure-total-header{
  display: flex;
  flex-direction: row;
  padding-inline: 1vw;

  width: 100%;

  align-items: center;
  justify-content: center;

  background-color: black;
  color: white;
}

.closure-total-body{
  font-size: 6vh;
  padding-block: 2vh;
}