#road-slope-inventory-container {
  display: flex;
  flex-flow: column nowrap;
  place-items: stretch center;
  place-content: center start;

  overflow: hidden hidden;

  width: var(--default-size-large, 480px);
  height: 100%;

  background-color: rgba(230, 240, 250, 1.00);

  /* Data Array Header */
  > :nth-child(1) {
    display: grid;
    
    flex: auto 1 auto;

    width: auto;
    height: auto;

    box-sizing: border-box;
    padding: var(--default-size-medium, 24px);

    font: bold calc(var(--default-size-medium, 24px) * 0.75) var(--default-font-family, "Outfit", sans-serif);
    color: var(--default-color-dark, black);

    /* Title */
    > :nth-child(1) {
      text-transform: uppercase;
    }
  }

  > .data-array-container {
    overflow: hidden auto;

    display: flex;
    flex-flow: column nowrap;
    place-items: stretch center;
    place-content: center start;

    width: 100%;
    height: 100%;

    box-sizing: border-box;
    padding: 0 var(--default-size-medium, 24px) var(--default-size-medium, 24px) var(--default-size-medium, 24px);
    gap: var(--default-size-medium, 24px);

    font: normal calc(var(--default-size-medium, 24px) * 0.75) var(--default-font-family, "Outfit", sans-serif);
    color: var(--default-color-dark, black);

    .data-container {
      display: grid;

      pointer-events: none;
      
      /* Header */
      > :nth-child(1) {
        display: flex;
        flex-flow: row nowrap;
        place-items: center center;
        place-content: center start;

        box-sizing: border-box;
        gap: calc(var(--default-size-medium, 24px) * 0.50);
        
        pointer-events: all;
        cursor: pointer;

        > :nth-child(1) {
          width: auto;
          height: auto;
        }

        > :nth-child(2) {
          flex: 1 1 0;
          height: auto;
        }
      }

      /* Inner Items */
      > :not(:first-child) {
        box-sizing: border-box;
        padding: calc(var(--default-size-medium, 24px) * 0.25) 0 0 var(--default-size-medium, 24px);
      }

      /* Last Item */
      &.data-container-details {
        > * {
          box-sizing: border-box;
          padding: calc(var(--default-size-medium, 24px) * 0.25) 0 0 var(--default-size-medium, 24px);
          
          pointer-events: all;
          cursor: pointer;

          &:hover {    
            color: var(--default-color-theme, blue);
          }
  
          &.selected {
            color: var(--default-color-theme, blue);
          }
        }
      }
    }

    .data-container-hidden {
      display: grid;

      pointer-events: none;
      
      /* Header */
      > :nth-child(1) {
        display: flex;
        flex-flow: row nowrap;
        place-items: center center;
        place-content: center start;

        box-sizing: border-box;
        gap: calc(var(--default-size-medium, 24px) * 0.50);
        
        pointer-events: all;
        cursor: pointer;

        > :nth-child(1) {
          width: auto;
          height: auto;
        }

        > :nth-child(2) {
          flex: 1 1 0;
          height: auto;
        }
      }

      /* Inner Items */
      > :not(:first-child) {
        display: none;
      }
    }

    .inventory-section-header {
      box-sizing: border-box;
      margin: 0 0 calc(var(--default-size-medium, 24px) * 0.50) 0;
      border-radius: calc(var(--default-size-small, 1px) * 4.00);
      padding: calc(var(--default-size-medium, 24px) * 0.50);
      box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

      background-color: rgba(210, 210, 210, 1.00);

      font: bold calc(var(--default-size-medium, 24px) * 0.75) var(--default-font-family, "Outfit", sans-serif);
    }

    .inventory-section-subheader {
      box-sizing: border-box;
      padding: calc(var(--default-size-medium, 24px) * 0.25) 0;

      font: bold calc(var(--default-size-medium, 24px) * 0.75) var(--default-font-family, "Outfit", sans-serif);
    }

    *:has(> .inventory-section-data) {
      box-sizing: border-box;
      margin-left: calc(var(--default-size-medium, 24px) * 0.50);
      border-left: solid var(--default-size-small, 1px) var(--default-color-dark, black);
    }

    .inventory-section-data {
      position: relative;

      display: inline-grid;
      
      > :nth-child(2) {
        box-sizing: border-box;
        padding: calc(var(--default-size-medium, 24px) * 0.25) 0;
      }
    }
  }

  > .data-array-placeholder {
    display: flex;
    flex-flow: row nowrap;
    place-items: start center;
    place-content: center stretch;

    width: 100%;
    height: auto;

    box-sizing: border-box;
    padding: 0 var(--default-size-medium, 24px) var(--default-size-medium, 24px) var(--default-size-medium, 24px);

    font: normal calc(var(--default-size-medium, 24px) * 0.75) var(--default-fint-family, "Outfit", sans-serif);
    color: var(--default-color-dark, black);
  }
}
