.titlebar-container{
  flex-flow: row nowrap;
  place-content: center start;

  display: flex;

  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 12px;

  background-color: rgba(0, 0, 0, 1.00);

  > img {
    margin: 0 12px 0 0;
    width: 24px;
    height: 24px;   
  }

  > :nth-child(3) {
    flex-flow: row nowrap;
    place-content: center start;
  
    display: flex;
  
    flex-grow: 1;
    height: auto;

    font: normal 600 18px "Outfit", sans-serif;
    color: rgba(255, 255, 255, 1.00);
  }
}