.titlebar-container{
  width: 100%;
  height: 7%;

  background-color: gray;

  display: flex;
  flex-direction: row;
}

.titlebar-header{
  display: flex;
  flex-direction: row;

  align-items: center;

}

.header-logo{
  height: 100%;
}

.header-title{
  color: white;

  font-size: 2vh;
}