#photos-container{
  display: flex;
  flex-flow: column nowrap;
  place-items: center center;
  place-content: center start;

  width: 320px;
  height: 100%;

  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 1.00);

  > :nth-child(1) {
    display: flex;
    flex-flow: column nowrap;
    place-items: start center;
    place-content: center center;

    width: 100%;
    height: auto;

    box-sizing: border-box;
    padding: 12px;

    background-color: rgba(50, 50, 50, 1.00);

    font: normal 400 16px "Outfit", sans-serif;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1.00);
  }
}