.user-body {
  display: flex;
  flex-direction: row;
}

.user-left {
  width: 20vw;
  background-color: #5271ff;
  margin-right: 1vw;
  padding: 1vw;
}

.user-right {
  width: 75vw;
}

.user-right-title {
  display: flex;
  flex-direction: row;
  padding: 1.5vw;

  align-items: center;
  justify-content: center;

  background-color: black;
  color: white;
}