.inv-container {
  margin-bottom: 1vh;
  display: flex;
  flex-direction: row;
}

.inv-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  height: 5vh;
  width: 80%;
  border: solid;
}

.inv-item:hover {
  background-color: black;
  color: white;

  transition: ease-in-out 0.3s;
  cursor: pointer;
}

.inv-buttons {
  width: 10%;
  background-color: #5271ff;
  color: white;
  margin-inline: 0.2vw;

  display: flex;
  align-items: center;
  justify-content: center;
}

.inv-buttons:hover {
  background-color: white;
  color: black;

  transition: ease-in-out 0.3s;
  cursor: pointer;
}