#home-container {
  display: flex;
  flex-flow: column nowrap;
  place-items: center center;
  place-content: center center;

  width: 100vw;
  height: 100vh;  

  /* Title Bar Container */
  > :nth-child(1) { 
    display: flex;
    flex-flow: column nowrap;
    place-items: center center;
    place-content: center center;

    flex: auto 1 auto;

    width: 100%;
    height: auto;
  }

  /* Module Bar Container */
  > :nth-child(2) {
    display: flex;
    flex-flow: column nowrap;
    place-items: center center;
    place-content: center center;
    
    flex: auto 1 auto;

    width: 100%;
    height: auto;
  }

  /* Home Page */
  > :nth-child(3) {
    display: flex;
    flex-flow: row nowrap;
    place-items: center center;
    place-content: center center;

    overflow: hidden hidden;

    flex: 1 1 auto;

    width: 100%;
    height: 100%;

    /* Sidebar / Outlet Container */
    > :nth-child(1) {
      display: flex;
      flex-flow: column nowrap;
      place-items: center center;
      place-content: center center;
  
      flex: auto 1 auto;

      width: auto;
      height: 100%;
    }

    /* Map Component Container */
    > :nth-child(2) {
      width: 100%;
      height: 100%;

      flex: 1 1 auto;
    }
  }
}

#map-container {
  .esri-ui-top-right.esri-ui-corner {
    display: flex;
    flex-flow: row nowrap;
    place-items: center center;
    place-content: center center;

    map-search-container {
      margin-right: 12px;
    }
  }

  .esri-ui-bottom-left.esri-ui-corner {
    map-info {    
      box-sizing: border-box;
      padding: 12px;
    
      background-color: rgba(255, 255, 255, 1.00);

      font: normal 400 16px "Outfit", sans-serif;
    }
  }

}

