#home-container {
  display: flex;
  flex-flow: column nowrap;
  place-items: center center;
  place-content: center center;

  width: 100%;
  height: 100%;  

  box-sizing: border-box;
  gap: var(--space-100, 12px);

  pointer-events: none;
  user-select: none;

  &.home-container-interactive {
    pointer-events: all;
    user-select: auto;
  }

  /* Title Bar Container */
  > :nth-child(1) { 
    display: flex;
    flex-flow: column nowrap;
    place-items: center center;
    place-content: center center;

    width: 100%;
    height: auto;
  }

  /* Module Bar Container */
  > :nth-child(2) {
    display: flex;
    flex-flow: column nowrap;
    place-items: center center;
    place-content: center center;

    width: 100%;
    height: auto;
  }

  /* Home Page */
  > :nth-child(3) {
    display: flex;
    flex-flow: row nowrap;
    place-items: center center;
    place-content: center center;

    overflow: hidden hidden;

    width: 100%;
    height: 100%;

    box-sizing: border-box;
    gap: var(--space-100, 12px);

    /* Sidebar / Outlet Container */
    > :nth-child(1) {
      display: flex;
      flex-flow: column nowrap;
      place-items: center center;
      place-content: center center;

      width: auto;
      height: 100%;
    }
    
    /* Map Component Container */
    > :nth-child(2) {
      display: flex;
      flex-flow: column nowrap;
      place-items: center center;
      place-content: center center;

      width: 100%;
      height: 100%;
    }
  }

    /* Loading Modal */
  > :nth-child(4) {
    &.loading-modal-active {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 100;

      display: flex;
      flex-flow: column nowrap;
      place-items: center center;
      place-content: center center;
  
      width: 100%;
      height: 100%;
    }

    &.loading-modal-hidden {
      display: none;
    }
  }
}

#map-container {
  box-sizing: border-box;
  border: var(--border-100, 3px) solid var(--color-black, rgba(0, 0, 0, 1.00));

  .esri-ui-inner-container.esri-ui-corner-container {
    inset: 0 !important;

    box-sizing: border-box;
    margin: var(--space-100, 12px) var(--space-100, 12px) calc(var(--space-100, 12px) + (var(--space-100, 12px) * 2) + (var(--space-100, 12px) * 1.25)) var(--space-100, 12px);

    .esri-expand {
      > calcite-popover {
        box-sizing: border-box;
        margin-top: calc(var(--space-100, 12px) * 0.50);
    
        > .esri-expand__popover-content {
          > .esri-expand__content-container {
            max-height: var(--height-100, 480px);

            > .esri-widget {
              max-height: 100%;
            }
          }
        }
      }
    }

    .esri-ui-top-left.esri-ui-corner {
      #widget-info-container {
        display: flex;
        flex-flow: column nowrap;
        place-items: center center;
        place-content: center center;

        width: auto;
        height: calc(var(--height-100, 480px) / 15);

        box-sizing: border-box;
        padding: calc(var(--calcite-spacing-xs, --space-100, 12px) + var(--calcite-spacing-px, 0));
      
        background-color: var(--calcite-color-background);

        font: var(--type-normal-s14, normal 400 14px/1.25 "Outfit", sans-serif);
        color: var(--calcite-color-text-2, --color-gray-08, rgba(200, 200, 200, 1.00));
      }
    }

    .esri-ui-top-right.esri-ui-corner {
      display: flex;
      flex-flow: row nowrap;
      place-items: center center;
      place-content: center center;

      > :not(:first-child) {
        border-right: solid 1px var(--calcite-color-border-1, --color-black, rgba(0, 0, 0, 1.00));
      }

      #widget-search-container {
        box-sizing: border-box;
        margin-right: var(--space-100, 12px);

        input {
          font: var(--type-normal-s14, normal 400 14px/1.25 "Outfit", sans-serif);
          color: var(--calcite-color-text-1, --color-white, rgba(255, 255, 255, 1.00));
        }
      }
    }

    .esri-ui-bottom-left.esri-ui-corner {
      #widget-scale-container {
        > * {   
          > :nth-child(1) {
            height: calc((var(--height-100, 480px) / 30));

            background-color: rgba(255, 255, 255, 0.50);

            &::before, &::after {
              height: calc((var(--height-100, 480px) / 30));

              border-right: calc(var(--space-100, 12px) * 0.25) solid var(--calcite-color-border-1, --color-black, rgba(0, 0, 0, 1.00));
            }
          }

          > :nth-child(2) {
            box-sizing: border-box;
            padding: 0 calc(var(--space-100, 12px) * 0.25) ;

            > * {
              font: var(--type-normal-s12, normal 400 12px/1.25 "Outfit", sans-serif);
              color: var(--calcite-color-background, --color-black, rgba(0, 0, 0, 1.00));
            }
          }
        }
      }
    }
  }

  .esri-ui-inner-container.esri-ui-manual-container {
    .esri-attribution {
      box-sizing: border-box;
      padding: var(--space-100, 12px);

      font: var(--type-normal-s12, normal 400 12px/1.25 "Outfit", sans-serif);
      color: var(--calcite-color-text-2, --color-gray-08, rgba(200, 200, 200, 1.00));
    }
  }
}