.emergency-container{
  display: grid;
  gap: 1%;
  grid-template-columns: 64% 35%;
}

.emergency-charts{
  display: flex;
  flex-direction: column;

  width: 100%;
}

.emergency-charts-row1{
  display: grid;
  gap: 1%;
  grid-template-columns: 34% 65%;
}