.slope-container{
  display: grid;
  column-gap: 2%;
  grid-template-columns: 30% 68%;

  height: 90%
}

.slope-details {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 100%;
}