.row {
  height: 5vh;
  width: 100vw;
  background-color: #000000;
  position: relative;
}

.header {
  height: 5vh;
  display: flex;
  flex-direction: row;
  color: white;
  align-items: center;
  justify-content: center;
}