#hazard-map-container {
  display: flex;
  flex-flow: column nowrap;
  place-items: stretch center;
  place-content: center start;

  overflow: hidden hidden;

  width: 320px;
  height: 100%;

  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 1.00);

  background-color: rgba(100, 100, 100, 1.00);

  color: rgba(255, 255, 255, 1.00);

  /* Data Array Header */
  > :nth-child(1) {
    flex: auto 1 auto;

    width: auto;
    height: auto;

    box-sizing: border-box;
    padding: 12px;

    background-color: rgba(50, 50, 50, 1.00);

    font: normal 400 16px "Outfit", sans-serif;
    text-transform: uppercase;
  }

  > .data-array-container {
    overflow: hidden auto;

    width: 100%;
    height: 100%;

    background-color: rgba(100, 100, 100, 1.00);

    font: normal 400 16px "Outfit", sans-serif;
    color: rgba(255, 255, 255, 1.00);

    pointer-events: none;

    .data-container {
      display: grid;

      /* Header */
      > :nth-child(1) {
        box-sizing: border-box;
        padding: 12px;

        pointer-events: all;
        cursor: pointer;

        > * {
          display: flex;
          flex-flow: row nowrap;
          place-items: start center;
          place-content: center stretch;
        }
      }

      > :not(:first-child) {
        box-sizing: border-box;
        padding-left: 24px;

        > * {
          box-sizing: border-box;
          border-left: dashed 2px rgba(150, 150, 150, 1.00);
        }
      }

      &.data-container-level-03 {
        pointer-events: all;
        cursor: pointer;

        box-sizing: border-box;
        padding: 0 12px;

        > * {
          box-sizing: border-box;
          margin: 12px;
          border-left: none;
          outline: solid 2px rgba(255, 255, 255, 1.00);
          padding: 12px;

          &:hover {    
            background-color: rgba(225, 125, 25, 1.00);
          }
  
          &.selected {
            background-color: rgba(225, 125, 25, 1.00);
          }
        }
      }
    }
  }

  > .data-array-placeholder {
    display: flex;
    flex-flow: row nowrap;
    place-items: start center;
    place-content: center stretch;

    width: 100%;
    height: auto;

    box-sizing: border-box;
    padding: 12px;
  }
}
