.headerbar-container {
  height: auto;
  width: 100%;
  background-color: #5271ff;
}

.appbar {
  display: flex;
  flex-direction: row;
  padding-left: 1vw;

  background-color: #5271ff;

}

.appbar-button {
  padding: 1vh;
  height: 5%;
  color: white;
  
  margin-inline: 0.5vw;
}

.appbar-button:hover {
  cursor: pointer;
  background-color: #000000;

  transition: ease-in-out 0.3s;
}

.appbar-button-selected {
  font-weight: bold;
  padding: 1vh;
  color: white;
  background-color: #000000;
}