/*

CSS Stylesheet Organization Guide
https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Organizing

> General Styles (Default Styling)
> Utility Classes and Site-Wide Styling
> Specific Selectors
> Animations and Transitions

Suggested CSS Rule Order Guide
https://9elements.com/css-rule-order/

> User-Defined Variables

> Generated Content
content

> Position and Layout
position-* z-index top bottom left right float clear

> Display and Visibility
display **flexbox properties** opacity transform-*

> Clipping
overflow-* clip-*

> Animation
animation-* transition-*

> Box Model
width height margin-* outline-* border-* box-* padding-*

> Background
background-* cursor

> Typography
font-* text-* color

> Pseudo-Classes & Pseudo-Elements (Nested Rules)

*/

html {
  --default-size-small: 1px;
  --default-size-medium: 12px;
  --default-size-large: 360px;

  --default-font-family: "Outfit", sans-serif;
  
  --default-color-text-primary: rgba(51, 51, 51, 1.00);
  --default-color-text-secondary: rgba(102, 102, 102, 1.00);
  --default-color-text-tertiary: rgba(138, 155, 168, 1.00);

  --default-color-background-primary: rgba(255, 255, 255, 1.00);
  --default-color-background-secondary: rgba(245, 245, 245, 1.00);
  --default-color-background-tertiary: rgba(232, 241, 255);

  --default-color-accent-dark: rgba(58, 123, 255, 1.00);
  --default-color-accent-light: rgba(255, 183, 0, 1.00);
}

body {
  width: 100vw;
  height: 100vh;
  
  margin: 0;

  font-family: var(--default-font-family, "Outfit", sans-serif);
}

#root {
  width: 100%;
  height: 100%;
}