/*

CSS Stylesheet Organization Guide
https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Organizing

> General Styles (Default Styling)
> Utility Classes and Site-Wide Styling
> Specific Selectors
> Animations and Transitions

Suggested CSS Rule Order Guide
https://9elements.com/css-rule-order/

> User-Defined Variables

> Generated Content
content

> Position and Layout
position-* z-index top bottom left right float clear

> Display and Visibility
display **flexbox properties** opacity transform-*

> Clipping
overflow-* clip-*

> Animation
animation-* transition-*

> Box Model
width height margin-* outline-* border-* box-* padding-*

> Background
background-* cursor

> Typography
font-* text-* color

> Pseudo-Classes & Pseudo-Elements (Nested Rules)

*/

html {
  --default-color-dark: rgba(0, 0, 0, 1.00);
  --default-color-light: rgba(255, 255, 255, 1.00);

  --default-color-orange: rgba(225, 125, 25, 1.00);

  --default-font-family: "Outfit", sans-serif;
  --default-font-size: 12px;

  --default-size-small: 1px;
  --default-size-medium: 24px;
  --default-size-large: 480px;
}

body {
  width: 100vw;
  height: 100vh;
  
  margin: 0;

  font-family: var(--default-font-family, "Outfit", sans-serif);
}

#root {
  width: 100%;
  height: 100%;
}