.closure-regionclass-container{
  display: flex;
  flex-direction: column;

  align-items: center;

  width: 100%;
  height: 45vh;
}

.closure-classpie-header{
  display: flex;
  flex-direction: row;
  /* padding-inline: 1vw; */

  width: 100%;

  align-items: center;
  justify-content: center;

  background-color: black;
  color: white;
}

.closure-region-container{
  width: 70%;
  height: auto;
  overflow-y: auto;
  font-size: 2vh;
}

.closure-region-list{
  display: grid;

  grid-template-columns: 80% 20%;
}

.closure-classpie-legend {
  width: 40%;

  display: grid;
  grid-template-columns: 50% 50%;
}
